.list__category {
    .listlink{
        margin-bottom: 48px;
    }
    // h2:first-child {
    //     font-weight: 600;
    //     font-size: 18px;
    //     color: #151515;
    //     margin-bottom: 16px;
    //     text-decoration: none;
    // }
    h2{
        font-size: 14px;
        color: #6A983C;
        margin-bottom: 12px;
        text-decoration: underline;
    }
}