.silemenu{
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom:80px;
    background-color: #F9F9F9;
    display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 55px;
    
    
}