@import "../../assets/css/style.scss";

.button__container {
    --height:36px;
    --radius: 12px;
    --bg-color: #{$green-cl};
    --color: #{$white-cl};
    --border: #{$bt-stroke};
    --pd: 12px;
    height: var(--height);
    background-color: var(--bg-color);
    border: 2px solid var(--border);
    cursor: pointer;
    padding: 0 var(--pd);
    border-radius: var(--radius);
    @include text(var( --body12-fs), pb, var( --body12-lh), var(--color), none);
    &.size {
        &-small{}
        &-medium{
            --height: 48px;
            --pd: 16px;
        }
        &-large{
            --height: 56px;
            --pd: 48px;
        }
    }
    &.color {
        &-bright{
            --bg-color: #{$white-f5};
            --border: none;
            --color: #{$black15};
        }
        &-simple{
            --bg-color: #{$white-cl};
            --border :none;
            --color: #{$black15};
        }
        &-stroke{
            --bg-color: #{$white-cl};
            --border :#92C064;
            --color: #{$black15};
        }

        @include xs {
            
        }
    }
    &.type {
        &-default{}
        &-icon-left{
            display: flex;
            justify-content: center;
            gap: 12px;
            align-items: center;
        }
        &-icon-right{
            @include flex(center, center);
            gap: 12px;
            svg{
                transform: rotate(-180deg);
            }
        }
    }

    &.round {
        border-radius: 50px;
    }
}