.product__test{
    background-color: yellow;
    height: 120px;
    width: 500px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    p{
        font-size: 22px;
        margin-bottom: 15px;
    }
    &.green{
        background-color: green;
    }
    &.vaiolet{
        background-color: #DB7093;
    }&.red{
        background-color: red;
    }
}