.item__method{
    display: flex;
    justify-content:space-around;
    background: #F9F9F9;
    align-items:center;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 16px;
    height: 48px;
    max-width: 670px;
    width: 100%;
}