.checkout__page{
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
    .checkout__left{
        width: 58%;
    }
    .checkout__right{
        width: 39%;
    }
    .container__billing{
        display: flex;
        flex-wrap: wrap;
        max-width: 670px;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 64px;
        .billing__title{
            width: 100%;
        }
    }
    .container__method{
        margin-bottom: 64px;
    }
    .container__additional{
        margin-bottom: 64px;
        .input__item input{
            width: 670px;
            height: 112px;
        }
    }
    .container__confirmation{
        max-width: 670px;
        width: 100%;
        .button__container{
            margin-bottom: 75px;
        }
        .title_final{
            h3{
                font-weight: 600;
                font-size: 12px;
            }
            p{
                font-weight: normal;
                font-size: 12px;
            }
        }
    }
    .title__item{
        font-weight: 600;
        font-size: 22px;
        color: #151515;
        margin-bottom: 4px;
    }
    .sub__item{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #A9A9A9;
        margin-bottom: 32px;
    }

}
